name: Cleanup PR Resources
on:
  pull_request:
    types: [closed]

permissions:
  actions: write

jobs:
  cleanup:
    name: Cleanup PR Resources
    runs-on: sonar-xs
    steps:
      - uses: SonarSource/ci-github-actions/pr_cleanup@v1
